<div class="footer">
  <div class="container">
    <div class="row" >
      <div class="col-md-2" ></div>
      <div class="col-md-3" >
        <h4>Useful Links</h4>
        <a href="http://bitcoin.org/en/faq">About Bitcoins</a>
        <br/>
        <a href="http://www.coindesk.com/news/">Coindesk</a>
        <br/>
        <a href="http://www.reddit.com/r/Bitcoin/">Bitcoin sub-Reddit</a>
        <br/>
        <a href="http://www.reddit.com/r/BitcoinBE/">Belgian Bitcoin sub-Reddit</a>
        <br/>
        <a href="http://letstalkbitcoin.com/">Let's Talk Bitcoin</a>
      </div>

      <div class="col-md-3" >
        <h4>Bitcoin Wallets</h4>
        <a href="http://bitcoin.org/en/choose-your-wallet">Choose your wallet</a>
        <br/>
        <a href="https://multibit.org/">Multibit</a>
        <br/>
        <a href="https://electrum.org/">Electrum</a>
        <br/>
        <a href="https://bitcoinarmory.com/">Armory</a>
        <br/>
        <a href="http://bitcoin.org/en/download">Bitcoin Core Wallet (experts!)</a>
      </div>

      <div class="col-md-3" >
        <h4>Exchanges</h4>
        <a href="https://www.bitstamp.net/">Bitstamp</a>
        <br/>
        <a href="https://bitplaats.be/">Bitplaats</a>
      </div>
    </div>

    <br/>
    <br/>
    <p class="pull-left muted credit">Belgian Bitcoin Association 2014</p>
    <p class="pull-right muted credit">Creative Commons Non-commercial Attribution Licence</p>
  </div>
</div>

<!--<p>
Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }}<br>
<small>
  <span class="credit">:Powered by <a href="http://octopress.org">Octopress</a></span>,
  <span class="credit">customized with <a href="https://github.com/kAworu/octostrap3">octostrap3</a></span>.
</small>
</p>-->
