<div class="container lightbgd minHeight">
  <div class="row">
    <h1>Press</h1>
    <div class="col-md-8">
      <ul>
        <li><h4><a href="/news/blog/categories/press-release/">Press releases</a></h4></li>
        <li><h4><a href="/news/blog/categories/in-the-press/">In the press</a></h4></li>
      </ul>

      <h3>Press Contact</h4>
      Nederlands: <a href="mailto:press-nl@bitcoinassociation.be">press-nl@bitcoinassociation.be</a><br />
      Français: <a href="mailto:press-fr@bitcoinassociation.be">press-fr@bitcoinassociation.be</a><br />
      English: <a href="mailto:press-en@bitcoinassociation.be">press-en@bitcoinassociation.be</a><br />
      Deutsch: <a href="mailto:press-de@bitcoinassociation.be">press-de@bitcoinassociation.be</a><br />
      </p>
    </div>
  </div>
</div>
