 <div class="jumbotron lightbgd">
      <div class="container">
      <!-- <img src="/assets/img/logo2a.png" -->
      <!-- class="pull-left logo"> -->

        <h1>
          Our mission in Belgium
        </h1>
        <p>
          To promote the use of Bitcoin and represent the interests of the Belgian Bitcoin community.
        </p>
        <!-- <p>
          Our purpose is to promote and educate whilst at the same time providing
          expert legal and technical advice to our members.
        </p>
        <p>
          We also represent our member's interests to policy makers at the regional,
          national and international level as well as playing our part in representing
          Belgium to the worldwide Bitcoin community.
        </p> -->
        <div>
          <a class="btn btn-primary btn-lg" href="#">Contact Us</a>
          <!-- <a href="mailto:#">info@bitcoinassociation.be</a> -->
        </div>
        <p>
        </p>
        <p>
        </p>
        <div class="row">
          <div class="col-md-4">
            <h2>
              Support
            </h2>
            <p>
              Our primary purpose is to educate and raise awareness of Bitcoin as an
              easy, flexible and secure payment method and currency. 
            </p>
          </div>
          <div class="col-md-4">
            <h2>
              Represent
            </h2>
            <p>
              We represent the interests of our members to government agencies local, national and international level.
            </p>
          </div>
          <div class="col-md-4">
            <h2>
              Clarify
            </h2>
            <p>
              There are many myths and misunderstandings surrounding Bitcoin. We aim
              to bring truth and clarity to the discussion.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <div class="starter-template">
          <h1>
            Some content about education
          </h1>
          <p class="lead">
            blah blah
          </p>
        </div>
      </div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <h1>
          more content
        </h1>
        <p>
          This is the coolest!
        </p>
        <p>
          <a class="btn btn-primary btn-lg" href="#">Learn more</a>
        </p>
      </div>
    </div>
    <div class="jumbotron">
      <div class="container">
        <h1>
          Yet more content
        </h1>
        <p>
          yadda yadda
        </p>
        <p>
          <a class="btn btn-primary btn-lg" href="#">Learn more</a>
        </p>
      </div>
    </div>