<div class="container lightbgd minHeight">
  <div class="large-12">
    <!-- original -->
    <h1>Members Page</h1>
    <p>Prospective members should send an email in your preferred language to the following address and we will contact you by return. Please incude your request to be an industry member or private member or both.</p>
    <h4>Press Contact:  <br /></h4> 
    <p>
      Membership Application : <a href="mailto:#">members@bitcoinassociation.be</a><br />
    </p>
    <!-- original -->

    <!-- Becomming a member -->
    <h1>Becoming a Member of the Belgian Bitcoin Association</h1>
    <h2>How to become a member</h2>
    <p>We intend to automate the registration process later. For the time being, please send an email at <a href="mailto:press@bitcoinassociation.be">info@bitcoinassociation.be</a>. We'll get in touch with you right away. </p>  






    <!-- Benefits -->
    <h2>Benefits</h2>
    <p>Members get the support of the association. There are specific benefits attached to the various types of membership. </p> 





    <!-- Types of membership -->
    <h2>Types of Membership</h2>

    <h3>Full Members </h3>

    <p>Full members are expected to make an active contribution to support the association in any way that is within their means, e.g. by volunteering, organising events, etcetera. They have the right to determine the course of the association, to vote in the general assembly, to nominate directors, to be eligible as member of the board of directors. </p>
    <p>One can become a full member after a period of 6 months after admission as adhering member. </p>

    <h3>Adhering Members</h3>
    <p>Adhering members have the right to participate in all events organised by the association, to participate in the general assembly as an observer, to receive promotional material, ...</p>

    <h2>Individual and Industry Memberships</h2>
    <p>Members can be either individuals or companies.</p>


    <h2>Membership fee</h2>
    <p>The fees for the first 6 months of 2014 are set as follows:
      <li>60€ for individuals</li>
      <li>100€ for companies</li>
    </p>



    <!-- Our Membership -->

    <!-- Individual members -->
    <h2>Current Members</h2>
    <p>Listed below are the members that have opted to publish their names on this page. If your name is not present here and want to have your name published, please contact us  at <a href="mailto:press@bitcoinassociation.be">info@bitcoinassociation.be</a>.     </p>
    <h3>Individuals</h3>
    <p><li>Jean Wallemacq</li></p>



    <h3>Industry</h3>
    <p><li>XPERT.-SYS SPRL</li></p>

  </div>
</div>

