<div class="container lightbgd minHeight">
  <div class="large-12">
    <h1>How to become a member of the association</h1>

    <p>All our Members get the support of specialists in the association, however there are specific benefits attached to certain types of membership.<p/> 


        <p>Prospective members should send an email in your preferred language to the following address and we will contact you by return. Please incude your request to be an industry member or private member or both.</p>

        <h4>Email Membership Application :  
            <!-- <p> -->
            <a href="mailto:members@bitcoinassociation.be">members@bitcoinassociation.be</a>
            <!-- </p> -->
        </h4>
        <!-- Categories -->
        <h2>Category of Membership</h2>
        <p>Private and Industry members are welcome. Both these membership categories will have the option of the following membership types.</p>

        <!-- Types -->
        <h2>Types of Membership</h2>

        <!-- Adhering -->
        <h3>Adhering Membership</h3>
        <p>This is the most basic form of membership. All members who join, must become Adhering Members for the first six months of membership. After six months members are converted to Full Membership status.</p>
        <h4>Benefits</h4>
        <ol>
            <li>
                Technical, legal and accounting advice on using and accepting bitcoins either as a business or an individual.
            </li>
            <li>
                Education and workshop sessions.
            </li>
            <li>
                Ability to suggest, contribute and develop the promotion of Bitcoin use in Belgium on behalf of the association.
            </li>
            <li>
                Participation in events organised by the association.
            </li>
            <li>Name featured on our website (only if you agree to this).</li>
        </ol>

        <h4>Rights</h4>
        <p>
            Adhering members have the right to participate in the general assembly as an observer but do not have voting powers.
        </p>

        <!-- Full -->
        <h3>Full Members </h3>

        <p>Full members are expected to make an active contribution to support the association in any way that is within their means. For example by volunteering, organising events, etcetera. 

            <h4>Benefits</h4>
            <p>Benefits are the same as the adhering membership</p>
            <ol>
                <li>
                    Technical, legal and accounting advice on using and accepting bitcoins either as a business or an individual.
                </li>
                <li>
                    Education and workshop sessions.
                </li>
                <li>
                    Expected to suggest, contribute and develop the promotion of Bitcoin use in Belgium on behalf of the association.
                </li>
                <li>
                    Participation in events organised by the association.
                </li>
                <li>Name featured on our website (only if you agree to this).</li>
            </ol>

            <h4>Rights</h4>
            <p>
                Full members have rights </p>
                <ol>
                    <li>
                        to determine the course of the association
                    </li>
                    <li>
                        to vote in the general meetings
                    </li>
                    <li>
                        to nominate directors
                    </li>
                    <li>
                        to be eligible to put themselves forward for membership of the board of directors, when a position becomes available.
                    </li>
                </ol>
                <br/>

                <h2>Membership fees</h2>
                <p>The introductory fees are as follows:
                  <li class="h3" >60€ * per year for individual membership</li><br/>
                  <li class="h3">100€ * per year for business membership</li>
                  <br/>
                  <p>*Introductory fees are valid for the first 6 months of 2014. Reviewed at the Annual General Meeting where our members decide.</p>
		  <p>Preferred way of payement is in Bitcoin, of course.</p>



              <br/>
              <!-- Individual members -->
              <h2>Current Members</h2>
              <p>Listed below are the members that have opted to publish their names on this page. If your name is not present here and want to have your name published, please contact us  at <a href="mailto:info@bitcoinassociation.be">info@bitcoinassociation.be</a>.</p>

              <div class="row" >
                <div class="col-md-4" >
                    <ul>
                      <li>Jean Wallemacq <em>(founder)</em></li>
                      <li>Chris D‘Costa  <em>(founder)</em></li>
                      <li>Arne Brutschy <em>(founder)</em></li>
                      <li>Jérémie Dubois-Lacoste <em>(founder)</em></li>
                      <li>Filip Roose <em>(founder)</em></li>
                      <li>Thomas Spaas <em>(founder)</em></li>
                    </ul>
                </div>
                <div class="col-md-4" >
                    <ul>
                      <li>Arnaud Kodeck <em>(founder)</em></li>
                      <li>David Boveington-Fauran <em>(founder)</em>
                      <li>David Leben <em>(founder)</em>
                    </ul>
                </div>
                <div class="col-md-4" >
                    <ul>
                    </ul>
                </div>
            </div>              
            <h3>Industry</h3>
            
            <div class="row" >
                <div class="col-md-4" >
                    <ul>
                      <li>XPERT.-SYS SPRL <em>(founder)</em></li>
                    </ul>
                </div>
                <div class="col-md-4" >
                    <ul>
                      <li>LAKOCO SPRL <em>(founder)</em></li>
                    </ul>
                </div>
                <div class="col-md-4" >
                    <ul>
                      <li>CORIUS BVBA <em>(founder)</em></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
