<div class="container">
	<div class="large-12">
		<h1>In the Press</h1>
		<h4>January 9th, 2014</h4>
		<p>Jérémie Dubois-Lacoste speaks on <a href="http://www.rtl.be/videobelrtl/video/472129.aspx?CategoryID=4590">Bel Europe</a>, along with Chantal Hughes, spokesperson of the European Commission.</p>

		<h4>November 28th, 2013</h4>

		<p>Thomas Spaas appears on <a href="http://www.deredactie.be/permalink/2.30897?video=1.1789752">Het Journaal 7</a> from Een. He orders a pizza via <a href="http://www.pizza.be">http://www.pizza.be</a> and position Bitcoin as an alternative currency.</p>

		<h4>November 22nd, 2013</h4>

		<p>Thomas Spaas is interviewed by Sara Engelen in De Morgen.</p>
		<h1>Press Pack</h1>
			<p>
			<h4>Press Contact:  <br /></h4>
				 Nederlands : <a href="mailto:#">pressNL@bitcoinassociation.be</a><br />
				 Français : <a href="mailto:#">pressFR@bitcoinassociation.be</a><br />
				 English : <a href="mailto:#">pressEN@bitcoinassociation.be</a><br />
				 Deutsch : <a href="mailto:#">pressDE@bitcoinassociation.be</a><br />
			</p>
	</div>
</div>
