<div class="container lightbgd minHeight">
	<div class="large-12">
		<h1>In the Press</h1>
		<h4>Tuesday 25 February 2014</h4>
		<p>NL text: see below</p>
<p>La Belgian Bitcoin Association a appris aujourd'hui que MtGox, une des premières plateformes permettant d'acheter et de vendre des bitcoins, a suspendu ses activités, et qu'elle ne serait peut-être pas en mesure de rembourser les dépôts en dollars et en bitcoins de ses clients.</p>

<p>Même si le volume d'échange sur MtGox avait fortement diminué ces derniers temps, il est évident que la perte de confiance provoquée par cette situation aura des répercussions négatives sur la communauté Bitcoin en général. </p>

<p>Dans ce contexte, la Belgian Bitcoin Association tient à insister sur les points suivants :
<ol>
<li> Les problèmes de MtGox ont été causés par une implémentation fautive de son logiciel de trading et par de graves erreurs de management de la société, et non par une erreur dans le protocole Bitcoin lui-même. Ce dernier fait l'objet d'un examen scrupuleux par d'innombrables volontaires partout dans le monde, et est constamment amélioré.</li>

<li>De nombreuses autres plateformes d'échange, certainement plus fiables, existent et sont prêtes à prendre le relai. Nous faisons ici référence à une communication émise il y a quelques heures par certaines d'entre elles : http://blog.coinbase.com/post/77766809700/joint-statement-regarding-mtgox.</li>

<li>Nous voulons également signaler qu'il existe en Europe, notamment en Allemagne, des plateformes d'échange pour lesquelles les autorités ont imposé des normes minimales et qui inspirent dès lors plus confiance. Elles connaîtront donc vraisemblablement plus de succès.</li>

<li>La Belgian Bitcoin Association se propose de soutenir les Belges dupés par MtGox en les mettant en contact avec des experts qui peuvent leur donner un support juridique dans une procédure éventuelle contre MtGox.</li>
</ol></p>

<p>De Belgian Bitcoin Association vernam vandaag dat MtGox, een van de
eerste websites waarop het publiek bitcoins kon kopen, haar
activiteiten staakt, en misschien niet in staat zouden zijn om de deposito's van
haar klanten, zowel in bitcoins als in dollars en euros, terug te
bezorgen.</p>

<p>Hoewel de handel op het platform van MtGox het laatste half jaar niet
veel meer betekende, is het evident dat de vertrouwensbreuk die MtGox
heeft veroorzaakt, negatief afstraalt op de bitcoin-gemeenschap als
geheel.</p>

<p>In dit licht wenst de Belgian Bitcoin Association het volgende te benadrukken.
<ol>
<li>De problemen bij MtGox werden veroorzaakt door een foute
implementatie van de specifieke beurssoftware van deze website en
vooral door het slechte management van dit bedrijf, en niet door een
fout in het bitcoinprotocol zelf, dat elke dag wordt nagekeken en
verbeterd door talloze vrijwilligers over de hele wereld. </li>

<li>Talrijke, meer betrouwbare ondernemingen dan MtGox staan klaar om
de rol van bitcoin exchange over te nemen. Wij verwijzen hierbij naar
het bericht dat enkele grote bitcoin-bedrijven enkele uren geleden
gezamenlijk vrijgegeven hebben:
http://blog.coinbase.com/post/77766809700/joint-statement-regarding-mtgox
.</li>

<li>Wij wensen er eveneens op te wijzen dat er ook in Europa (m.n.
Duitsland) bitcoin-beursplatformen aanwezig zijn waaraan de overheid
bepaalde minimumvereisten heeft opgelegd en die aldus van meer
vertrouwen kunnen genieten dan MtGox. Ongetwijfeld zullen deze
bedrijven nu meer succes kennen.</li>

<li>De Belgian Bitcoin Association wil Belgische gedupeerden van MtGox
bijstaan door hen in contact te brengen met experten die hen de
gewenste (juridische) ondersteuning kunnen bieden bij eventuele
vorderingen tegen MtGox.</li>
</ol></p>
               <h4>Monday 24 February 2014</h4>
	       <p>Thomas Spaas talks about Bitcoin myths, reality, hurdles & opportunities at <a href="http://www.vfb.be/Vfb/Trefpunt/28951">Flemish Investor Federation</a>.</p>
               <h4>Thursday 13 February 2014</h4>
	       <p>The Belgian Bitcoin Association is now officially registered as an ASBL / VZW. </p>

		<h4>Tuesday 28 January 2014</h4>
		<p>Interview of Thomas Spaas on dogecoin at the radio 1 show <a href ="http://www.radio1.be/programmas/de-ochtend">De ochtend</a>.</p>
		<h4>Thursday 23 January 2014</h4>
		<p>Thomas Spaas is interviewed on the Radio 2 programme <a href="http://www.radio2.be/inspecteur-decaluwe/bitcoin">Inspecteur de Caluwé</a>.</p>
		<h4>Tuesday 21 January 2014</h4>
		<p>Jérémie Dubois-Lacoste answers readers' questions on technical and regulatory aspects of bitcoin in a <a href="http://www.rtbf.be/info/economie/detail_faut-il-se-mefier-du-bitcoin-la-monnaie-virtuelle-chat-a-12h?id=8181072">live chat</a> on the RTBF website.
		<h4>Saturday 18 January 2014</h4>
		<p>Thomas Spaas debates about Bitcoin with Professor Gert Peersman on <a href="http://www.deredactie.be/permalink/1.1838046">De Vrije Markt</a>, the program of the Flemish public broadcaster VRT focusing on economic news.</p>
		<h4>Friday 17 January 2014</h4>
		<p>In the magazine <a href ="http://www.telebruxelles.net/portail/emissions/magazines-a-voir-en-ligne/m-le-mag-de-la-redac/29569-m-17012014">#M</a> of the regional TV "Télé Bruxelles", Jérémie Dubois-Lacoste presents the basics of Bitcoin, along with Lawrence Flessie, from <a href="http://www.pizza.be">Pizza.be</a>.</p>
		<h4>Saturday 11 January 2014</h4>
		<p>In the program <a href="http://www.bfmtv.com/grille/bfmbusiness/podcast-radio/23066/">500 millions d'européens</a> from the french radio BFM (but recorded within the European Parliament studio), Jérémie Dubois-Lacoste explains what is Bitcoin and answers a few questions, along with Constance Le Grip European MP, Axel de Martene from the European Commission, Philippe Dardier CEO of Alternativa, Florence Autret of La Tribune and of l'Agefi, and Fred Cauderlier from the MR.</p>
		<h4>Thursday 9 January 2014</h4>
		<p>Short live interview of Jérémie Dubois-Lacoste to explain what is Bitcoin, along with Chantal Hughes, spokesperson of the European Commission speaking from Frankfurt. On the program <a href="http://www.rtl.be/videobelrtl/video/472129.aspx?CategoryID=4590">Bel Europe</a> of the radio "Bel RTL".</p>

		<h4>November 28th, 2013</h4>

		<p>Thomas Spaas appears on <a href="http://www.deredactie.be/permalink/2.30897?video=1.1789752">Het Journaal 7</a> from Een. He orders a pizza via <a href="http://www.pizza.be">Pizza.be</a> and positions Bitcoin as an alternative currency.</p>

		<h4>November 22nd, 2013</h4>

		<p>Thomas Spaas is interviewed by Sara Engelen in De Morgen.</p>
		<h1>Press Pack</h1>
			<p>
			<h4>Press Contact:  <br /></h4>
				 Nederlands : <a href="mailto:press-nl@bitcoinassociation.be">press-nl@bitcoinassociation.be</a><br />
				 Français : <a href="mailto:press-fr@bitcoinassociation.be">press-fr@bitcoinassociation.be</a><br />
				 English : <a href="mailto:press-en@bitcoinassociation.be">press-en@bitcoinassociation.be</a><br />
				 Deutsch : <a href="mailto:press-de@bitcoinassociation.be">press-de@bitcoinassociation.be</a><br />
			</p>
	</div>
</div>
