<div class="container lightbgd minHeight">
	<div class="large-12">
		<h1>In the Press</h1>
		<h4>Saturday 18 January 2014</h4>
		<p>Thomas Spaas debates about Bitcoin with Professor Gert Peersman on <a href="http://www.deredactie.be/permalink/1.1838046">De Vrije Markt</a>, the program of the Flemish public broadcaster VRT focusing on economic news.</p>
		<h4>Friday 17 January 2014</h4>
		<p>In the magazine <a href ="http://www.telebruxelles.net/portail/emissions/magazines-a-voir-en-ligne/m-le-mag-de-la-redac/29569-m-17012014">#M</a> of the regional TV "Télé Bruxelles", Jérémie Dubois-Lacoste presents the basics of Bitcoin, along with Lawrence Flessie, from <a href="http://www.pizza.be">Pizza.be</a>.</p>
		<h4>Saturday 11 January 2014</h4>
		<p>In the program <a href="http://www.bfmtv.com/grille/bfmbusiness/podcast-radio/23066/">500 millions d'européens</a> from the french radio BFM (but recorded within the European Parliament studio), Jérémie Dubois-Lacoste explains what is Bitcoin and answers a few questions, along with Constance Le Grip European MP, Axel de Martene from the European Commission, Philippe Dardier CEO of Alternativa, Florence Autret of La Tribune and of l'Agefi, and Fred Cauderlier from the MR.</p>
		<h4>Thursday 9 January 2014</h4>
		<p>Short live interview of Jérémie Dubois-Lacoste to explain what is Bitcoin, along with Chantal Hughes, spokesperson of the European Commission speaking from Frankfurt. On the program <a href="http://www.rtl.be/videobelrtl/video/472129.aspx?CategoryID=4590">Bel Europe</a> of the radio "Bel RTL".</p>

		<h4>November 28th, 2013</h4>

		<p>Thomas Spaas appears on <a href="http://www.deredactie.be/permalink/2.30897?video=1.1789752">Het Journaal 7</a> from Een. He orders a pizza via <a href="http://www.pizza.be">Pizza.be</a> and positions Bitcoin as an alternative currency.</p>

		<h4>November 22nd, 2013</h4>

		<p>Thomas Spaas is interviewed by Sara Engelen in De Morgen.</p>
		<h1>Press Pack</h1>
			<p>
			<h4>Press Contact:  <br /></h4>
				 Nederlands : <a href="mailto:press-nl@bitcoinassociation.be">press-nl@bitcoinassociation.be</a><br />
				 Français : <a href="mailto:press-fr@bitcoinassociation.be">press-fr@bitcoinassociation.be</a><br />
				 English : <a href="mailto:press-en@bitcoinassociation.be">press-en@bitcoinassociation.be</a><br />
				 Deutsch : <a href="mailto:press-de@bitcoinassociation.be">press-de@bitcoinassociation.be</a><br />
			</p>
	</div>
</div>
